.containerhome {
    display: flex !important;
    flex-direction: column;
    background-image: url('../../public/src/home-background.svg') !important;
    min-height: 100vh;
    margin-left: 0 !important;
}

.container {
    background-image: url('../../public/src/logged-in-background.svg');
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-size: cover;
    margin-left: 18vw;
}

.header {grid-area: header; text-align: center;}
.nav {grid-area: nav;}
.main {
    grid-area: main; 
    padding: 0 1rem; 
}

@media screen and (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;  
        row-gap: 7.5vh;    
    }
}

/* for home logo */
.homelogo {
    margin-top: 100px;
    width: 45%;
    height: auto;
}
