.container {
    display: grid;
    grid-template-areas: 
        'header header'
        'nav main';
    grid-template-columns: 0.4fr 2fr;
    min-height: 100vh;
    gap: 0;
    align-items: stretch;
}

.containerhome {
    display: grid;
    grid-template-areas: 
        'header header'
        'main main';
    grid-template-columns: 0.4fr 2fr;
    background-image: url('../../public/src/home-background.svg');
    min-height: 100vh;
}

.header {grid-area: header;}
.main {grid-area: main; padding: 0 1rem;}
.nav {grid-area: nav;}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
