.containerhome {
    display: flex;
    flex-direction: column !important;
    margin-left: 0 !important;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 18vw;
}

.background {
    z-index: -1;
}

.header {grid-area: header; text-align: center;}
.nav {grid-area: nav;}
.main {
    grid-area: main; 
    padding: 0 1rem; 
    width: 100%;
}

@media screen and (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;  
        row-gap: 7.5vh;    
    }
}

.homelogo {
    width: 40vw;
    height: auto;
}
