.nav {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #E7E0EC;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.selected {
    background-color: #0000002d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.unselected {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.unselected:hover {
    background-color: #0000002d;
}

.navtext {
    color: black;
    text-decoration: none;
}

.navtext:hover {
    text-decoration: none;
}