
h5.aboutDescrip {
    font-size: 10px;
    color: rgb(43, 39, 39);
    text-align:justify;
}

h3.aboutDescrip {
    font-size: 12px;
    color: rgb(43, 39, 39);
    text-align:center;
}

h1.abtTitle{
    font-size: 28px;
    text-align:center;
}

span.keyword{
    color: rgb(153, 51, 51);
}

.dev{
   font-size: 80px;
}

.paperStyle{
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 75vw;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* responsive design for about page */
@media screen and (max-width: 576px ) {
	
    .aboutPaper {
        padding: 20px;
        height: 20vh;
        width: 60%;
        margin: 20px;
    }

    h5.aboutDescrip {
        font-size: 12px;
    }
    
    h3.aboutDescrip {
        font-size: 15px;
    }

    h1.abtTitle{
        font-size: 18px;
        text-align:center;
    }

    .dev{
        font-size: 50px;
     }

}
    
@media screen and (min-width: 577px) {
    .aboutPaper {
        padding: 20px;
        height: 20vh;
        width: 80%;
        margin: 20px;
    }
    
    h5.aboutDescrip {
        font-size: 15px;
        color:rgb(43, 39, 39);
    }

    h3.aboutDescrip {
        font-size: 17px;
    }

    h1.abtTitle{
        font-size: 28px;
        text-align:center;
    }

    .dev{
        font-size: 80px;
     }

}

@media screen and (min-width: 900px) {
    .aboutPaper {
        padding: 20px;
        height: 20vh;
        width: 80%;
        margin: 20px;
    }
    
    h5.aboutDescrip {
        font-size: 20px;
        color:rgb(43, 39, 39);
    }

    h3.aboutDescrip {
        font-size: 23px;
    }

    h1.abtTitle{
        font-size: 50px;
        text-align:center;
    }

    .dev{
        font-size: 100px;
     }

}

/* Footer */

.footer {
    padding-bottom: 10px ;
    padding-top: 60px;
    border-top: 1px solid #FFE29A;
}

.aboutPaper h5 {
    font-size: 1rem;
}
    
    
    