

.loginButton {
	margin: 20px 10px; 
	background: linear-gradient(180deg, #FFCC4D 0%, #FF6726 100%);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 16px;

}

.newHereButton{
    margin: 20px 10px; 
    background: linear-gradient(180deg, #FFCC4D 0%, #FF6726 100%);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.paperStyle{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 25vw;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}


 
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    
    .paperStyle{
        padding: 20px;
        height: 80vh;
        width: 60%;
        left: auto;
        top: auto;
        height: 50%;
        margin: 20px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .paperStyle{
        padding: 20px;
        height: 80vh;
        width: 35%;
        left: auto;
        top: auto;
    }
}

/* backup breakpoints */

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .paperStyle{
        padding: 20px;
        height: 80vh;
        width: 30%;
        left: auto;
        top: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}