.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    line-height: 0%;
}

.icon_group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
